<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:insert="prerequis">
	<meta th:fragment="prerequis">
	<meta charset="UTF-8">
	<title> Orange Madagascar </title>
</head>
<body>
	<!-- body-->
    <section id="container" class="sidebar-close">
    
    <div th:insert="entete"></div>
	<div th:fragment="entete"></div>
	
	<div th:insert="sidemenu"></div>
	<div th:fragment="sidemenu"></div>
	
	
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content" style="margin-left: 210px;">
      <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> SERVEUR </font></font></h3>
        <div class="row mt">
          <div class="col-lg-8 col-lg-offset-2">
          <!-- **********************************************************************************************************************************************************
                *********************************************************************************************************************************************************** -->
           
           <h4><i class="fa fa-angle-right"></i> Ajout d'un serveur de base de donnee</h4>
            <div class="form-panel">
              <div class="form">
                <form class="cmxform form-horizontal style-form" id="signupForm" method="post" action="/BdServeurAjout">
                
                  <div class="form-group ">
                    <label for="nomserveur" class="control-label col-lg-4"> Nom du serveur de base de donnees </label>
                    <div class="col-lg-8">
                      <input class=" form-control" id="nomserveur" name="nombdserveur" type="text" required/>
                    </div>
                  </div>
                  
                  <div class="form-group ">
                    <label for="nomserveur" class="control-label col-lg-4"> Mot de passe ROOT </label>
                    <div class="col-lg-8">
                      <input class=" form-control" id="nomserveur" name="mysqlPassword" type="password" required/>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="ipserveur1" class="control-label col-lg-4"> Ip du serveur de base de donnees</label>
                    <div class="col-lg-8">
                      <input class="col-xs-3 text-center" id="ipserveur1" name="ipbdserveur1" type="number" min="0" max="255" />
                      <input class="col-xs-3 text-center" id="ipserveur2" name="ipbdserveur2" type="number" min="0" max="255" />
                      <input class="col-xs-3 text-center" id="ipserveur3" name="ipbdserveur3" type="number" min="0" max="255" />
                      <input class="col-xs-3 text-center" id="ipserveur4" name="ipbdserveur4" type="number" min="0" max="255" />
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="ipserveur1" class="control-label col-lg-4"> Adresse reseau </label>
                    <div class="col-lg-6">
                      <input class="col-xs-3 text-center" id="adServ1" name="adServ1" type="number" min="0" max="255" />
                      <input class="col-xs-3 text-center" id="adServ2" name="adServ2" type="number" min="0" max="255" />
                      <input class="col-xs-3 text-center" id="adServ3" name="adServ3" type="number" min="0" max="255" />
                      <input class="col-xs-3 text-center" id="adServ4" name="adServ4" type="number" min="0" max="255" />
                      
                    </div>
                    <div class="col-lg-2">
                    	<input class="text-center" id="masque" name="masque" type="number" min="0" max="24" placeholder="24"/>
                    </div>
                  </div>
                  
                  <div class="form-group ">
                  <label class="control-label col-lg-4"> Type de Base de donnees </label>
                  <div class="col-lg-8">
                  <div class="radio col-lg-6">
	                <label>
	                  <input type="radio" name="reseauType" id="optionsRadios1" value="local" checked>
	                  local
	                  </label>
	              </div>
	              
	              <div class="radio col-lg-6">
	                <label>
	                  <input type="radio" name="reseauType" id="optionsRadios2" value="overlay">
	                  overlay
	                  </label>
	              </div>
	              </div>
	              </div>
	              
                  <div class="form-group ">
                    <label for="nomserveur" class="control-label col-lg-4"> Serveur Physique </label>
                    <div class="col-lg-8">
                      <select class="form-control col-lg-4 cocl-lg-offset-3" name="idserveur">
		                  <option th:each="serv:${serveur}" th:value="${serv.id_serveur}" th:utext="${' ' +serv.nom + ' --- ' + serv.ip.part1 + '.' + serv.ip.part2 + '.' + serv.ip.part3 + '.' + serv.ip.part4 + ' '}"> </option>
		                </select>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button class="btn btn-theme col-lg-6" type="submit"> Ajouter </button>
                      <button class="btn btn-theme04 col-lg-6" type="button"> Annuler </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- /form-panel -->
          </div>
          <!-- /col-lg-12 -->
        </div>
           
           
                      
           <!-- **********************************************************************************************************************************************************
           *********************************************************************************************************************************************************** -->
          </div>
        </div>
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
  	
  	<div th:insert="pied"></div>
	<div th:fragment="pied"></div>  
  </section>
    
	<p th:insert="script"></p>
	<p th:fragment="script"></p>
</body>
</html>