<!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="https://www.orange.mg/" class="logo"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> ORANGE </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> MADAGASCAR </font></font></span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="/deconnexion"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Deconnexion </font></font></a></li>
        </ul>
      </div>
    </header>
    <!--header end-->