<!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          Hariniaina </font></font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Raenirina</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font><font style="vertical-align: inherit;">
          Licence 2018
        </font></font></p>
        <div class="credits">
          <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
            Licensing information: https://templatemag.com/license/
          --><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          Orange </font></font><a href="https://templatemag.com/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Madagascar </font></font></a>
        </div>
        <a href="blank.html#" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->